/*

  STYLE GUIDE STYLING  
  
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: Light;
	color: #000;
	text-align: left;
}

h1 {
	font-size: 2em;
	font-family: Bold;
	color: #26C6DA;
	text-align: left;
}

a:link {
	text-decoration: none;
	color: #999;
	outline: none;
}

a:visited {
	text-decoration: none;
	color: #999;
	outline: none;
}

button:active, button:focus {
	outline: none;
}

ul {
	list-style: circle;
	text-align: left;
}

li {
	color: #26C6DA;
}

.page-wrapper {
	overflow: hidden;
}

/* Roboto Font */

@font-face {
	font-family: Bold;
	src: url(../font/Roboto-Bold.ttf);
}

@font-face {
	font-family: Medium;
	src: url(../font/Roboto-Medium.ttf);
}

@font-face {
	font-family: Regular;
	src: url(../font/Roboto-Regular.ttf);
}

@font-face {
	font-family: Light;
	src: url(../font/Roboto-Light.ttf);
}

/* End of Roboto Font Face */

/* ---------------- GRIDS ------------------- */

.col-1of12 {
	width: 8.3333%;
}

.col-2of12 {
	width: 16.666%;
}

.col-3of12 {
	width: 25%;
}

.col-4of12 {
	width: 33.3333%;
}

.col-5of12 {
	width: 41.666%;
}

.col-6of12 {
	width: 50%;
}

.col-8of12 {
	width: 66.6667%;
}

.col-11of12 {
	width: 91.6666%;
}

.col-12of12 {
	width: 100%;
}

[class^='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

/* ---------------- NAVIGATION ------------------- */

.main-nav {
	display: inline-block;
	position: fixed;
	top: 0;
	z-index: 2;
	padding: 2em 0 2em 7em;
	margin-bottom: 2em;
	width: 100%;
	background-color: #fff;
	
	-webkit-box-shadow: 0 0.25em 5em -1em #999;
	-moz-box-shadow: 0 0.25em 5em -1em #999;
    box-shadow: 0 0.25em 5em -1em #999;
}

.main-nav:after {
	content:"";
	display: block;
	clear: both;
}

.main-nav a {
	font-family: Medium;
	transition: 0.3s all ease;
}

.main-nav a:hover {
	color: #26C6DA;
	padding-bottom: 0.5em;
	border-bottom: 4px solid #26C6DA;
}

.main-nav a.current-page {
	color: #26C6DA;
	border-bottom: 4px solid #26C6DA;
}

.logo {
	position: absolute;
	margin-top: -1.5em;
	margin-left: -7em;
}

/* for mobile */
.nav-trigger {
	position: fixed;
	font-family: Regular;
	border: 0.2em solid #26C6DA;
	text-decoration: none;
	color: #26C6DA;
	width: 20%;
	right: 5%;
	font-size: 1em;
	text-align: center;
	padding: 0.5em 0 0.5em 0;
	background-color: #fff;
}

.nav-mobile {
	position: fixed;
	width: 100%;
	z-index: 3;
	display: none;
	
	-webkit-box-shadow: 0 0.25em 5em -1em #999;
	-moz-box-shadow: 0 0.25em 5em -1em #999;
    box-shadow: 0 0.25em 5em -1em #999;
}

/* ---------------- HERO ------------------- */

.hero {
	margin-top: 4em;
	height: 25em;
	
	background-color: #26C6DA;
}

h1.home-title {
	font-size: 2em;
	font-family: Bold;
	color: #fff;
	padding-top: 3em;
}

h2.home-sub {
	font-size: 1em;
	font-family: Light;
	color: #fff;
	text-align: left;
}

.hero .col-5of12 {
	position: relative;
	left: 45%;
}


/* ---------------- MOODBOARD ------------------- */

.mood-board {
	height: auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.board, .board2,  .board-img, .board-img2, .board-img3, .board-img4, .board-img5, .board-img6 {
	height: 15em;
	transition: all 0.3s ease;
}

.board .board-content {
	font-family: Regular;
	padding: 0 1.5em 1.5em 0em;
	text-align: left;
}

.board2 .board-content {
	font-family: Regular;
	padding: 0 1.5em 1.5em 1.5em;
	text-align: left;	
}

.board-header {
	margin: 0;
	padding: 1.5em 0 0 0;
	font-family: Bold;
	text-align: left;
	font-size: 1em;
}

.board2 .board-header {
	padding: 1.5em 1.5em 0 1.5em;
}

.board:hover, .board2:hover {
	background-image: url(../img/IAT339-ImageOverlay.png);
}

.board:hover .board-content, .board:hover .board-header, .board2:hover .board-content, .board2:hover .board-header {
	color: #fff;
}

.board-content-overlay {
	display: none;
	padding: 2em;
	color: #fff;
}

.board-img {
	background-image: url(../img/Hero_RetroPhone1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.board-img:hover {
	background-image: url(../img/Hero_RetroPhone1-overlay.jpg);
}

.board-img:hover .board-content-overlay {
	display: block;
}

.board-img2 {
	background-image: url(../img/hero_dynatac3.jpg);
	background-size: cover;
	background-repeat: no-repeat;	
}

.board-img2:hover {
	background-image: url(../img/hero_dynatac3-overlay.jpg);
}

.board-img2:hover .board-content-overlay {
	display: block;
}

.board-img3 {
	background-image: url(../img/motorola_event.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.board-img3:hover {
	background-image: url(../img/motorola_event-overlay.jpg);
}

.board-img3:hover .board-content-overlay {
	display: block;
}

.board-img4 {
	background-image: url(../img/motorola_event2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.board-img4:hover {
	background-image: url(../img/motorola_event2-overlay.jpg);
}

.board-img4:hover .board-content-overlay {
	display: block;
}

.board-img5 {
	background-image: url(../img/Hero_DynaTac-rasterized.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.board-img5:hover {
	background-image: url(../img/Hero_DynaTac-rasterized-overlay.jpg);
}

.board-img5:hover .board-content-overlay {
	display: block;
}

.board-img6 {
	background-image: url(../img/motorola_event3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.board-img6:hover {
	background-image: url(../img/motorola_event3-overlay.jpg);
}

.board-img6:hover .board-content-overlay {
	display: block;
}

.clear {
	clear: both;
}

/* ---------------- SUBSCRIBE ------------------- */

.subscribe {
	display: block;
	padding: 10em 0 6em 0;
	background-color: #ddd;
	background-image: url(../img/IAT339-ImageOverlay.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.subscribe:after {
	content:"";
	display: block;
	clear: both;
}

.subscribe p.header {
	font-family: Regular;
	font-size: 1.5em;
	color: #26C6DA;
	text-align: center;
}

.input-container {
	width: 100%;
}

.email-input {
	font-family: Regular;
	background-color: #fff;
	border: 0.2em solid #999;
	color: #26C6DA;
	transition: all 0.5s ease;
	font-size: 1em;
	margin: 3em auto 0 auto;
	padding: 0.5em 0 0.5em 0.5em;
	width: 40%;
	left: 50%;
}

.email-input:focus {
	outline: none;
	border: 0.2em solid #26C6DA;
}


.button-signup {
	font-family: Regular;
	border: 0.2em solid #26C6DA;
	text-decoration: none;
	padding: 0.5em 0;
	margin: 1em auto 0 auto;
	color: #26C6DA;
	left: 50%;
	width: 40%;
	font-size: 1em;
	
	/*interaction set-up*/
	background: -webkit-linear-gradient(transparent, transparent 50%, #26C6DA 50%, #26C6DA);
	background: linear-gradient(transparent, transparent 50%, #26C6DA 50%, #26C6DA);
	background-size: 100% 200%;
  	transition: all 0.2s ease;
}

.button-signup:link, .button-signup:visited {
	color: #999;
}

.button-signup:hover {
	background-position: 100% 100%;
	color: #fff;
}

.button-signup:focus {
	outline: none;
}

/* ---------------- MULTI-LISTING PRODUCTS ------------------- */

.list-element {
	color: #fff;
	text-align: left;
}

.models {
	width: 100%;
	padding-top: 10em;
	background-color: #fff;
}

.model {
	font-family: Regular; 
	font-size: 2em;
	color: #999;
	border: none;
	background-color: #fff;
	width: 100%;
	padding: 0.5em 0 0.5em 0;
}


.dynatac-thumbnail, .microtac-thumbnail,.iden-thumbnail {
	height: 20em;
	border: none;
	transition: 0.3s all ease;
}

.dynatac-overlay, .microtac-overlay, .iden-overlay {
	font-family: Regular;
	display: none;
}

.dynatac-overlay {
	padding-left: 13em;
	padding-top: 2em;
}

.iden-overlay {
	padding-left: 13em;
	padding-top: 2em;
}

.microtac-overlay {
	padding-top: 2em;
}

.dynatac-thumbnail {
	background-image: url(../img/Hero_DynaTac-rasterized.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.dynatac-thumbnail:hover {
	background-image: url(../img/Hero_DynaTac-rasterized-overlay.jpg);
}

.dynatac-thumbnail:hover .dynatac-overlay {
	display: block;
}

.dynatac-thumbnail:hover .model {
	background-color: #26C6DA;
	color: #fff;
}

.microtac-thumbnail {
	background-image: url(../img/Hero_MicroTAC.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.microtac-thumbnail:hover {
	background-image: url(../img/Hero_MicroTAC-overlay.jpg);
}

.microtac-thumbnail:hover .microtac-overlay {
	display: block;
}

.microtac-thumbnail:hover .model {
	background-color: #26C6DA;
	color: #fff;
}

.iden-thumbnail {
	background-image: url(../img/iDen.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.iden-thumbnail:hover {
	background-image: url(../img/iDen-overlay.jpg);
}

.iden-thumbnail:hover .iden-overlay {
	display: block;
}

.iden-thumbnail:hover .model {
	background-color: #26C6DA;
	color: #fff;
}

.career-container {
	width: 100%;
	position: relative;
}

.filter-tabs {
	width: 100%;
	padding-top: 5em;
	background-color: #fff;
}

.filter1, .filter2, .filter3 {
	font-family: Regular; 
	font-size: 2em;
	color: #999;
	border: none;
	background-color: #fff;
	width: 100%;
	padding: 0.5em 0 0.5em 0;
	transition: all 0.3s ease;
}

.filter1:hover, .filter2:hover, .filter3:hover {
	background-color: #26C6DA;
	color: #fff;
}

.active-tab {
	background-color: #26C6DA;
	border: none;
	color: #fff;
}

.filter2-products, .filter3-products {
	position: absolute;
	width: 100%;
}

.filter1-products {
	left: 0;
	width: 100%;
}

.filter2-products {
	left: 100%;
}

.filter3-products {
	left: 200%;
}

.info-container {
	position: relative;
	width: 100%;
	height: 20em;
	overflow: hidden;
}

.filter1-info, .filter2-info, .filter3-info {
	font-family: Light;
	font-size: 1em;
	color: #666;
	width: 100%;
	padding: 6em 8em 4em 8em;
	position: absolute;
}

.filter1-info {
	left: 0;
}

.filter2-info {
	left: 100%;
}

.filter3-info {
	left: 200%;
}

/* ---------------- SINGLE PRODUCT PAGE ------------------- */

.hero-product {
	margin-top: 4em;
	height: 30em;
	
	background-image: url(../img/Hero_DynaTac-overlay.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.hero-product-title {
	font-size: 3em;
	font-family: Bold;
	color: #26C6DA;
	padding-top: 2em;
	padding-left: 5em;
}

.product-container {
	margin-top: 5em;
}

.specs {
	font-size: 3em;
	font-family: Bold;
	color: #26C6DA;
	padding: 3em 0 0 5em;
}

.product-specs {
	font-family: Regular;
	font-size: 1em;
	padding: 2em 0 0 15em;
}

.product-list-element {
	color: #000;
}

.product-content {
	font-family: Regular;
	font-size: 1em;
	padding: 2em 0 0 15em;
}

.price {
	font-family: Bold;
	font-size: 3em;
	padding: 1em 0 0 5em;
	color: #26C6DA;
}

.product-image {
	height: 50em;
	width: 100%;
	float: right;
	
	background-image: url(../img/dynatac_product_image.jpg);
	background-size: 90%;
	background-repeat: no-repeat;
}

.product-buy {
	width: 100%;
	margin-top: 7em;
}

.buy-now {
	font-family: Bold;
	font-size: 4em;
	text-align: center;
	color: #26C6DA;
}

.button-buy {
	font-family: Regular;
	position: relative;
	border: 0.2em solid #26C6DA;
	text-decoration: none;
	padding: 0.5em 0;
	margin: 2em 0 3em -20%;
	color: #26C6DA;
	left: 50%;
	width: 40%;
	font-size: 2em;
	
	/*interaction set-up*/
	background: -webkit-linear-gradient(transparent, transparent 50%, #26C6DA 50%, #26C6DA);
	background: linear-gradient(transparent, transparent 50%, #26C6DA 50%, #26C6DA);
	background-size: 100% 200%;
  	transition: all 0.2s ease;
}

.button-buy:link, .button-buy:visited {
	color: #999;
}

.button-buy:hover {
	background-position: 100% 100%;
	color: #fff;
}

.button-buy:focus {
	outline: none;
}


/* ---------------- ABOUT US ------------------- */

.about-tabs {
	width: 80%;
	margin: 0em auto 0 auto;
}

.about, .history {
	font-family: Regular;
	border: 0.2em solid #26C6DA;
	text-decoration: none;
	padding: 0.5em 0;
	color: #999;
	width: 20em;
	font-size: 1em;
	
	/*interaction set-up*/
	background: -webkit-linear-gradient(transparent, transparent 50%, #26C6DA 50%, #26C6DA);
	background: linear-gradient(transparent, transparent 50%, #26C6DA 50%, #26C6DA);
	background-size: 100% 200%;
  	transition: all 0.2s ease;
}

.about:hover, .history:hover {
	background-position: 100% 100%;
	color: #fff;
}

.about:focus, .history:focus, .about:active, .history:active {
	border: 0.2em solid #26C6DA; 
}

.button-clicked {
	background: #26C6DA;
	border: 0.2em solid #26C6DA;
	color: #fff;
}

.hero-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 30em;
}

.content-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 20em;
}

.about-container, .history-container {
	width: 100%;
	padding: 8em;
	position: absolute;
	overflow: hidden;
}

.about-container {
	left: 0;
}

.history-container {
	left: 100%;
}

.about-title, .history-title {
	font-family: Bold;
	color: #666;
	margin: 0;
}

.about-content, .history-content {
	font-family: Light;
	color: #666;
}

.hero-about {
	height: 30em;
	width: 100%;
	left: 0;
	position: absolute;
	
	background-image: url(../img/aboutus-hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.hero-history {
	height: 30em;
	width: 100%;
	left: 100%;
	position: absolute;
	
	background-image: url(../img/history-hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}


/* ---------------- CAREER ------------------- */

.job1, .job2, .job3, .job4, .job5, .job6 {
	height: 15em;
	border: 1px solid #000;
}

.job1 {
	background-image: url(../img/technology_careerpost.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.job2 {
	background-image: url(../img/design_careerpost.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.job3 {
	background-image: url(../img/design_careerpost2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.job4 {
	background-image: url(../img/backoffice_careerpost.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.job5 {
	background-image: url(../img/backoffice_careerpost2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.job6 {
	background-image: url(../img/backoffice_careerpost3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/* ---------------- CONTACT US FORM ------------------- */

.form {
	width: 80%;
	margin: 0em auto 5em auto;
	padding: 15em 0 5em 0;
}

.form-title {
	font-family: Bold;
	font-size: 3em;
	color: #26C6DA;
	width: 100%;
	margin: 0 auto 0.5em auto;
}

.form-label {
	font-family: Regular;
	padding: 0.5em 1em;
	background-color: #999;
	float: left;
	transition: all 0.5s ease;
	color: #fff;
	font-size: 1em;
	border: 0.2em solid #999;
	width: 30%;
}

.form-input {
	font-family: Regular;
	background-color: #fff;
	padding: 0.5em 1em;
	padding-right: 5em;
	border: 0.2em solid #999;
	color: #26C6DA;
	transition: all 0.5s ease;
	font-size: 1em;
	width: 70%;
	border-radius: none !important;
}

.form-input:focus {
	outline: none;
	border: 0.2em solid #26C6DA;
}

.form-input:focus ~ .form-label {
	background-color: #26C6DA;
	border: 0.2em solid #26C6DA;
	color: #FFF;
}

.form-textarea {
	font-family: Regular;
	color: #999;
	font-size: 1em;
	padding: 0.5em 1em;
	border: 0.2em solid #999;
	transition: all 0.5s ease;
	width: 100%;
	border-radius: none !important;
}

.form-textarea:focus {
	outline: none;
	border: 0.2em solid #26C6DA;
}

#first {
	margin-right: 1em;
}

#email, #subject, #message {
	margin-top: 1em;
}

.button-submit {
	font-family: Bold;
	border: 0.2em solid #26C6DA;
	text-decoration: none;
	padding: 0.5em 0;
	color: #999;
	width: 100%;
	font-size: 1.5em;
	
	/*interaction set-up*/
	background: -webkit-linear-gradient(transparent, transparent 50%, #26C6DA 50%, #26C6DA);
	background: linear-gradient(transparent, transparent 50%, #26C6DA 50%, #26C6DA);
	background-size: 100% 200%;
  	transition: all 0.2s ease;
}

.button-submit:link, .button-submit:visited {
	color: #999;
}

.button-submit:hover {
	background-position: 100% 100%;
	color: #fff;
}

.button-submit:focus {
	outline: none;
}

.more-contacts {
	margin: 0 auto 7em auto;
	width: 80%;
}

/* ---------------- FOOTER ------------------- */

footer, .about-footer, .products-footer {
	font-family: Light;
	color: #999;
	text-align: center;
	font-size: 0.75em;
	padding: 3em 0 1em 0;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	border-top: 1px solid #999;
}

.products-footer {
	margin-top: 5em;
	margin-bottom: 5em;
}

.about-footer {
	margin-top: 5em;
}

/* ---------------- CHECK OUT PAGE ------------------- */

h1.title {
	font-size: 3em;
	font-family: Bold;
	margin: 1em 0 1em 1em;
}

.cart-list {
	width: 80%;
	margin: 1em auto;
	padding: 0;
}

.product-list, .price-list {
	list-style: none;
}

.product-list {
	padding:0;
}

.price-list {
	padding-left: 1em;
}

.product-name, .price-element {
	background-color: #ddd;
	border-bottom: 5px solid #fff;
	height: 2.5em;
	font-family: Regular;
	font-size: 2em;
	padding: 0.5em 1em;
}

.total, .total-price {
	background-color: #ccc;
	border-bottom: 5px solid #fff;
	height: 2em;
	font-family: Regular;
	font-size: 2em;
	padding: 0.25em 1em;
}

.purchase-complete {
	color: #26C6DA;
	font-size: 3em;
	font-family: Bold;
	text-align:center;
	width: 100%;
	margin-top: 5em;
}

.thankyou {
	color: #26C6DA;
	font-size: 2em;
	font-family: Medium;
	text-align:center;
	width: 100%;
}

/* ---------------- MEDIA QUERIES ------------------- */

@media (max-width: 90rem) {
	h1.home-title {
		font-size: 1.5em;
	}

	.mood-board {
		height: 60em;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}
	
	.board .board-header, .board .board-content {
		padding-left: 1.5em;
	}

	.mood-board .col-4of12 {
		width: 60%;
	}
	
	.mood-board .col-2of12 {
		width: 40%;
	}
	
	.mood-board .col-3of12 {
		width: 50%;
	}
	
	.mood-board .col-6of12 {
		width: 60%;
	}
	
	.more-contacts .col-4of12, .more-contacts .col-3of12 {
		width: 50%;
	}
	
	.more-contacts .col-5of12 {
		width: 100%;
		margin-bottom: 2em;
	}
	
	.dynatac-overlay, .iden-overlay {
		padding-left: 5em;
	}
}
	
@media (max-width: 80rem) {
	.form .col-5of12 {
		width: 70%;
	}
	
	#first, #last {
		margin-top: 1em;
		margin-right: 0;
	}
	
	.hero-product-title {
		font-size: 2em;
	}
	
	.specs {
		padding-top: 1em;
	}
	
	.specs, .price {
		padding-left: 3em;
	}
	
	.product-specs, .product-content {
		padding-left: 9em;
	}
	
	.product-image {
		height: 40em;
	}
}

@media (max-width: 70rem) {
	.product-name, .price-element, .total, .total-price {
		font-size: 1.5em;
	}
}
	
@media (max-width: 60rem) {
	.main-nav .col-2of12 {
		width: 25%;
	}

	.hero .col-5of12 {
		width: 75%;
		position: none;
		left: 12%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.board-content-overlay {
		display: block;
	}
	
	.board-img {
		background-image: url(../img/Hero_RetroPhone1-overlay.jpg);
	}
	
	.board-img2 {
		background-image: url(../img/hero_dynatac3-overlay.jpg);
	}
	
	.board-img3 {
		background-image: url(../img/motorola_event-overlay.jpg);
	}
	
	.board-img4 {
		background-image: url(../img/motorola_event2-overlay.jpg);
	}
	
	.board-img5 {
		background-image: url(../img/Hero_DynaTac-rasterized-overlay.jpg);
	}
	
	.board-img6 {
		background-image: url(../img/motorola_event3-overlay.jpg);
	}
	
	.filter1-products .col-4of12, .filter2-products .col-4of12, .filter3-products .col-4of12 {
		width: 100%;
	}
	
	.models .col-4of12 {
		width: 100%;
	}
	
	.microtac-overlay, .dynatac-overlay, .iden-overlay {
		padding: 3em;
		font-size: 1.5em;
	}
	
	.more-contacts .col-4of12, .more-contacts .col-3of12 {
		width: 100%;
	}
	
	.form .col-5of12 {
		width: 100%;
	}
	
	.more-contacts .col-4of12, .more-contacts .col-3of12 {
		margin-bottom: 2em;
	}
	
	.about, .history {
		width: 15em;
	}
		
	.filter1, .filter2, .filter3 {
		font-size: 1.5em;
		padding: 1em 0 1em 0;
	}
	
	.specs {
		padding-top: 0.5em;
	}
	
	.specs, .price {
		padding-left: 3em;
		font-size: 2em;
	}
	
	.product-specs, .product-content {
		padding-left: 6em;
	}
	
	.product-image {
		height: 35em;
	}
	
	.buy-now {
		font-size: 2em;
	}
	
	.button-buy {
		font-size: 1em;
	}
	
}

@media (max-width: 50rem) {
	.main-nav {
		display: block;
		padding-left: 10em;
	}
	
	.col-1of12 .logo {
		display: block;
	}

	.nav-trigger {
		display: none;
	}
	
	
	.subscribe p.header {
		font-size: 1.25em;
	}
	
	.mood-board .col-4of12, .mood-board .col-2of12 , .mood-board .col-3of12, .mood-board .col-6of12   {
		width: 100%;
	}
	
	.mood-board {
		height: 120em;
	}
	
	.filter1-info, .filter2-info, .filter3-info {
		padding: 6em 2em 4em 2em;
	}
	
	.about-container, .history-container  {
		padding: 6em;
	}
	
	.filter1, .filter2, .filter3 {
		font-size: 1.5em;
		padding: 1em 0 1em 0;
	}
	
	.about, .history {
		width: 10em;
	}
	
	.filter-tabs {
		padding-top: 4.5em;
	}
	
	.hero-product-title {
		padding-left: 3em;
		
	}
	
	.product-container {
		margin-top: 3em;
	}
	
	.specs {
		padding-top: 0.25em;
	}
	
	.specs, .price {
		padding-left: 3em;
	}
	
	.price {
		position: absolute;
		margin-left: 55%;
		margin-top: -2em;
	}
	
	.product-specs, .product-content {
		padding-left: 6em;
		padding-top: 0.5em;
	}
	
	.product-image {
		height: 30em;
	}

	.product-name, .price-element, .total, .total-price {
		font-size: 1em;
	}

	
}

@media (max-width: 45rem) {
	.product-container .col-6of12 {
		width: 100%;
	}
	
	.price {
		position: static;
		margin: 0;
	}
	
	.product-content {
		padding-right: 6em;
	}
	
	.product-image {
		margin-top: 5em;
		height: 50em;
		width: 110%;
	}
	
	h1.title {
		font-size: 1.5em;
		text-align: center;
		margin: 2em;
	}
	
	.cart-list .col-8of12 {
		width: 50%;
	}
	
	.cart-list .col-4of12 {
		width: 50%;
	}

}

@media (max-width: 35rem) {
	.home-title {
		margin-top: 5em;
	}

	.main-nav {
		padding: 3em 0 0 0;
		display: none;
		margin-top: 4em;
	}
	
	.nav-trigger {
		margin-top: -3.5em;
		display: block;
	}
	
	.nav-clicked {
		background-color: #26C6DA;
		color: #fff;
	}
	
	.nav-mobile {
		background-color: #fff;
		display: block;
		top: 0;
	}
	
	.logo-mobile {
		position: relative;
		left: 10%;
		margin-left: 0;
		margin-top: 0;
	}
	
	.col-1of12 .logo {
		display: none;
	}
	
	.main-nav .col-2of12 {
		width: 100%;
		margin-bottom: 2em;
	}
	
	.first-link {
		margin-top: 4em;
	}
	
	.hero {
		margin: 0;
		height: 40em;
	}
	
	.subscribe .col-5of12 {
		width: 100%;
	}
	
	.email-input {
		width: 15em;
		margin-left: 0;
	}
	
	.button-signup {
		width: 15em;
		margin-left: 0;
	}
	
	.subscribe p.header {
		margin-left: 0;
	}
	
	.filter1-info, .filter2-info, .filter3-info {
		padding: 6em 2em 4em 2em;
	}
	
	.about, .history {
		width: 6em;
	}
	
	.hero-container {
		margin-top: 4em;
	}
	
	.about-container, .history-container {
		padding: 4em 2em 4em 2em;
	}
		
	.filter1, .filter2, .filter3 {
		font-size: 1em;
		padding: 1em;
	}
	
	.form-label, .form-input, .form-textarea {
		font-size: 0.5em;
	}
	
	.hero-product .col-6of12 {
		width: 100%;
	}
	
	.hero-product-title {
		padding: 2em 1em 0 1em;
	}
	
	.specs, .price {
		padding-left: 1em;
	}
	
	.product-specs, .product-content {
		padding-left: 3em;
		padding-top: 0.5em;
		padding-right: 2em;
	}

	.product-image {
		height: 35em;
	}
	
	.buy-now {
		font-size: 1.5em;
	}
	
	.button-buy {
		font-size: 1em;
		width: 60%;
		margin-left: -30%;
	}
	
	.product-name, .price-element, .total, .total-price {
		font-size: 0.5em;
	}
	
	.product-name {
		margin-bottom: 0;
	}
	
	.purchase-complete {
		margin-top: 2em;
		font-size: 2em;
	}
	
	.dynatac-overlay,.microtac-overlay, .iden-overlay {
		padding: 1em 1em 1em 2em;
		font-size: 1em;
	}
}